page-episode {

    .card-background-page {

        ion-card {
          text-align: center;
          height: 100%;
          width: 100%;
          margin:auto;
        }
        ion-item{
            text-align: center;
        }
        img{
        max-height: 60%;
        max-width: 50%; 
        border-radius: 2%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top:15px;
        }
        .card-inside{
            display: block;
            vertical-align: center;
        }
        span{
            font-family:Arial, Helvetica, sans-serif;
            font-weight:bolder;
            font-style: italic;
            color:lightslategrey;
        }
        .card-title {
            position: -webkit-sticky;
            top: 36%;
            font-size: 3.0em;
            width: 100%;
            font-weight: bold;
            color:rgb(167, 160, 154);
          }
    }
    
}
