<ion-header>
  <ion-navbar color="primary">
    <ion-title *ngIf="data">{{data.Title}}</ion-title>
    <ion-buttons end>
      <button ion-button incon-only style="font-size: 1.7em" (click)=saveFavoris()>
        <ion-icon [name]="favoris ? 'star':'star-outline'"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">

  <ion-grid *ngIf="data">
    <ion-row>
      <ion-col align-self-center>
        <ion-card text-wrap>

          <img src="{{data.Poster}}" />
          <ion-label>
            <h2>Description et Synopsis</h2>
            <span class="description">{{data.Plot}}</span>
          </ion-label>

          <ion-label><span>Date de sortie :</span> {{data.Year}}</ion-label>
          <ion-label><span>De :</span> {{data.Director}}</ion-label>
          <ion-label><span>Avec :</span> {{data.Actors}}</ion-label>
          <ion-label><span>Genre : </span>{{data.Genre}}</ion-label>
          <ion-label><span>Recommandations :</span>{{data.Rated}}</ion-label>
          <ion-label><span>Durée : </span>{{data.Runtime}}</ion-label>
          <ion-label><span>Prix :</span> {{data.BoxOffice}}</ion-label>
          <ion-label> <span>Nominations : </span>{{data.Awards}}</ion-label>
          <ion-label><span>Note : </span>{{data.imdbRating}}/10, {{data.imdbVotes}} votes</ion-label>
          <div *ngIf="data.Type !== 'movie'">
          <ion-label *ngIf="data.totalSeasons !== 'N/A'">{{data.totalSeasons}} saisons</ion-label>

            <ion-list *ngIf="data.totalSeasons !== 'N/A'">
              <ion-item *ngFor="let i of  saison " (click)="itemTapped($event, data.imdbID,i)">
                Saison {{i}}
              </ion-item>
            </ion-list>
          </div>
          <button ion-button color="light" (click)="openLink(data.Website)">
            {{data.Website}}
          </button>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>